{% comment %} Based on solution of previous design {% endcomment %}

<div class="customer">
  <div class="recipient-form">
    <div class="recipient-fields__field">
      <div class="SendDate-fields__field">
        <div class="field-gift-card">
          <label class="field__label-gift-card" for="properties[SendDate]">
            Choose date to send*
          </label>
          <input required type='date' name="properties[SendDate]" id="properties[SendDate]" value="{{ 'now' | date: '%Y-%m-%d' }}" min="{{ 'now' | date: '%Y-%m-%d' }}">
        </div>
      </div>
      <div class="field-gift-card">
        <label class="field__label-gift-card" for="properties[SendToFriendEMail]">
          {{ 'recipient.form.email_label' | t }}
        </label>
        <input
          required
          class="field__input"
          id="properties[SendToFriendEMail]"
          type="email"
          placeholder="{{ 'recipient.form.email' | t }}"
          name="properties[SendToFriendEMail]"
        >
      </div>
    </div>
    <div class="recipient-fields__field">
      {%- assign max_chars_message = 200 -%}
      {%- assign max_chars_message_rendered = 'recipient.form.max_characters' | t: max_chars: max_chars_message -%}
      {%- assign message_label_rendered = 'recipient.form.message_label' | t -%}
      <div class="field-gift-card">
        <label class="form__label field__label-gift-card" for="properties[SendToFriendMessage]">
          {{ message_label_rendered }}
        </label>
        <textarea
          rows="11"
          id="properties[SendToFriendMessage]"
          class="text-area field__input"
          name="properties[SendToFriendMessage]"
          maxlength="{{ max_chars_message }}"
          placeholder="{{ 'recipient.form.message' | t }}"
          aria-label="{{ message_label_rendered }} {{ max_chars_message_rendered }}"
        ></textarea>
      </div>
    </div>
  </div>
</div>

