{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  {% if section.settings.custom_mobile_padding %}
    @media screen and (max-width: 749px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.mobile_padding_top }}px;
        padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
      }
    }
  {% endif %}

  .page-title-banner__wrapper {
    background-color: #f3f3f3;
    text-align: center;
    padding: 48px 20px;
  }

  .page-title-banner__title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
  }
  
  .page-title-banner__subheading {
    margin-top: 15px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .page-title-banner__info {
    max-width: 600px;
    margin: 15px auto 0;
    font-size: 1rem;
  }

  @media screen and (max-width: 749px) {
    .page-title-banner__wrapper {
      padding: 24px 15px;
    }
    .page-title-banner__title {
      font-size: 2.2rem;
    }
  }

  {{ section.settings.custom_css }}
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">
  <div class="page-title-banner__wrapper">
    <div class="page-width">
      {%- unless section.settings.hide_page_title -%}
        <h1 class="page-title-banner__title h0">
          {{ page.title | escape }}
        </h1>
      {%- endunless -%}

      {%- if section.settings.subheading != blank -%}
        <p class="page-title-banner__subheading">{{ section.settings.subheading | escape }}</p>
      {%- endif -%}

      {%- if section.settings.additional_info != blank -%}
        <div class="page-title-banner__info rte">
          {{ section.settings.additional_info }}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Page Title Banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section padding - desktop"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    },
    {
      "type": "paragraph",
      "content": "By default, mobile padding is being calculated based on Dawn's ratio. If custom paddings for mobile is needed, customize them here"
    },
    {
      "type": "checkbox",
      "id": "custom_mobile_padding",
      "label": "Custom mobile padding",
      "default": false
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 20
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 20
    },
    {
      "type": "header",
      "content": "Additional Information"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "richtext",
      "id": "additional_info",
      "label": "Additional info"
    },
    {
      "type": "header",
      "content": "Other Settings"
    },
    {
      "type": "checkbox",
      "id": "hide_page_title",
      "label": "Hide page title",
      "default": false
    },
    {
      "type": "header",
      "content": "Custom CSS"
    },
    {
      "type": "liquid",
      "id": "custom_css",
      "label": "Custom CSS"
    }
  ],
  "blocks": [
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "type": "liquid",
          "id": "text",
          "label": "Text Content",
          "default": "<h1>{{ page.title }}</h1>",
          "info": "You can use Liquid variables like {{ page.title }} or {{ product.title }}."
        }
      ]
    },
    {
      "name": "Page Content",
      "type": "page-content"
    }
  ],
  "presets": [
    {
      "name": "Page Title Banner"
    }
  ]
}
{% endschema %}