{%- capture utility_icons -%}
  {% render 'header-utility-icons' %}
{%- endcapture -%}

{%- capture logo -%}
  {% render 'header-logo',
    custom_height: section.settings.logo_height_desktop,
    custom_height_mobile: section.settings.logo_height_mobile,
    hide_logo_on_home_page: section.settings.hide_logo_on_home_page,
    padding_top: section.settings.logo_padding_top,
    padding_bottom: section.settings.logo_padding_bottom,
    padding_left: section.settings.logo_padding_left,
    padding_right: section.settings.logo_padding_right,
    enable_transparent_header_home: section.settings.enable_transparent_header,
    home_color_scheme: 'inverse'
  %}
{%- endcapture -%}

{%- capture search -%}
  {% render 'search' %}
{%- endcapture -%}

{%- capture actions -%}
  {% render 'header-actions' %}
{%- endcapture -%}

{%- capture mobile_menu_toggle -%}
  <button class="mobile-menu-toggle" aria-label="Open menu" aria-expanded="false">
      <span class="icon-hamburger">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 18L20 18" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> <path d="M4 12L20 12" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> <path d="M4 6L20 6" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> </g></svg>
      </span>
      <span class="icon-close">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="24" height="24"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M19 5L5 19" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> <path d="M5 5L19 19" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
      </span>
  </button>
{%- endcapture -%}
<header-component id="header-component"  sticky="always" data-scroll-direction="none" data-skip-node-update class="header  header--compact">
<div class="header-wrapper">
  <header class="header header--desktop">
    {% render 'header-layout',
      container_class: 'header__container',
      order: 'utility_icons,logo,search,actions',
      settings: section.settings,
      logo: logo,
      utility_icons: utility_icons,
      search: search,
      actions: actions
    %}
  </header>
  <header class="header header--mobile">
    {% render 'header-layout',
      container_class: 'header__container',
      order: 'mobile_menu_toggle,search,logo,actions',
      settings: section.settings,
      logo: logo,
      search: search,
      mobile_menu_toggle: mobile_menu_toggle,
      actions: actions,
      mobile: true
    %}
  </header>
</div>

{% assign menu_handle = section.settings.menu %}
{% assign menu_links = linklists[menu_handle].links %}

<!-- Desktop Menu -->
<div class="mega-menu">
  <ul class="mega-menu__list">
    {% for link in menu_links %}
      <li class="mega-menu__item">
        <a class="mega-menu__item-title" href="{{ link.url }}">{{ link.title }}</a>
        {%- liquid
          assign has_banners = false
          assign has_brands = false
          assign brand_block = null
          assign link_handle = link.title | handleize

          for block in section.blocks
            assign block_menu_title_handle = block.settings.menu_title | handleize
            if block.type == 'brands' and block_menu_title_handle == link_handle
              assign has_brands = true
              assign brand_block = block
            endif

            assign block_menu_item_handle = block.settings.menu_item | handleize
            if block.type == 'banner' and block_menu_item_handle == link_handle
              assign has_banners = true
            endif
          endfor
        -%}
        
        {% if link.links.size > 0 or has_banners or has_brands %}
          <div class="mega-menu__dropdown">
            <div class="mega-menu__dropdown-content">

              {% if has_brands %}
                <div class="mega-menu__brands show-from-bottom">
                    <div class="mega-menu__brands-heading">
                      <a href="{{ link.url }}" class="mega-menu__link mega-menu__link--level-2 link">
                        {{ brand_block.settings.heading | escape }}
                      </a>
                    </div>
                    <div class="mega-menu__brands-grid" style="--brands-grid-columns: {{ brand_block.settings.columns }}">
                      {%- assign alphabet = 'a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,#' | split: ',' -%}
                      {%- for letter in alphabet -%}
                        {%- if brand_block.settings.brands_page_url != blank -%}
                          <a href="{{ brand_block.settings.brands_page_url }}#zz{{ letter | upcase }}">{{ letter }}</a>
                        {%- endif -%}
                      {%- endfor -%}
                    </div>
                </div>

                {% assign brands_menu = linklists[brand_block.settings.brands_menu] %}
                {% if brands_menu.links.size > 0 %}
                  {%- assign has_grandchild_links_brands = false -%}
                  {%- for brand_link in brands_menu.links -%}
                    {%- if brand_link.links.size > 0 -%}
                      {%- assign has_grandchild_links_brands = true -%}
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}
                  <div class="mega-menu__links{% if has_grandchild_links_brands %} mega-menu__links--with-submenus{% endif %}">
                    {% for brand_link in brands_menu.links %}
                      <div class="column" style="transition-delay: {{ forloop.index0 | times: 0.1 }}s;">
                        <a href="{{ brand_link.url }}" class="sub-menu-title">{{ brand_link.title }}</a>
                        {% if brand_link.links.size > 0 %}
                          <ul>
                            {% for sub_brand_link in brand_link.links %}
                              <li>
                                <a href="{{ sub_brand_link.url }}" class="sub-sub-menu-title">{{ sub_brand_link.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}

              {% else %}
                {% if link.links.size > 0 %}
                  {%- assign has_grandchild_links = false -%}
                  {%- for sublink in link.links -%}
                    {%- if sublink.links.size > 0 -%}
                      {%- assign has_grandchild_links = true -%}
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}
                  <div class="mega-menu__links{% if has_grandchild_links %} mega-menu__links--with-submenus{% endif %}">
                    {% for sublink in link.links %}
                      <div class="column" style="transition-delay: {{ forloop.index0 | times: 0.1 }}s;">
                        <a href="{{ sublink.url }}" class="sub-menu-title">{{ sublink.title }}</a>
                        {% if sublink.links.size > 0 %}
                          <ul>
                            {% for subsublink in sublink.links %}
                              <li>
                                <a href="{{ subsublink.url }}" class="sub-sub-menu-title">{{ subsublink.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}
              {% endif %}

              {% if has_banners %}
                <div class="mega-menu__banner-wrapper">
                  {% for banner_block in section.blocks %}
                    {% if banner_block.type == 'banner' %}
                      {% assign banner_link_handle = banner_block.settings.menu_item | handleize %}
                      {% if banner_link_handle == link_handle and banner_block.settings.banner_image %}
                        <div class="mega-menu__banner">
                          <a href="{{ banner_block.settings.banner_url | default: '#' }}">
                            <img
                              src="{{ banner_block.settings.banner_image | image_url: width: 600 }}"
                              alt="{{ banner_block.settings.banner_title | default: link.title }}"
                              loading="lazy"
                              width="600"
                              height="auto"
                            >
                            {% if banner_block.settings.banner_title %}
                              <p class="mega-menu_banner-title">{{ banner_block.settings.banner_title }}</p>
                            {% endif %}
                          </a>
                        </div>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
</header-component>
<!-- Mobile Drawer -->
<div class="mobile-drawer-overlay"></div>
<div class="mobile-drawer" role="dialog" aria-modal="true">
  <div class="mobile-drawer__content">
    <nav class="mega-menu-mobile">
      <ul class="mega-menu-mobile__list">
        {% for link in menu_links %}
          <li class="mega-menu-mobile__item">
            {% assign has_banners = false %}
            {% assign link_handle = link.title | handleize %}
            {% for block in section.blocks %}
              {% assign block_menu_item_handle = block.settings.menu_item | handleize %}
              {% if block.type == 'banner' and block_menu_item_handle == link_handle %}
                {% assign has_banners = true %}
                {% break %}
              {% endif %}
            {% endfor %}

            {% if link.links.size > 0 or has_banners %}
              <details>
                <summary>
                  <span>{{ link.title }}</span>
                  <span class="svg-wrapper icon-caret mega-menu-icon">
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                  </span>
                </summary>
                <div class="mega-menu-mobile__submenu">
                  <div class="mega-menu-mobile__submenu-header">
                    <button
                      class="mega-menu-mobile__back-button"
                      type="button"
                    >
                      <span class="svg-wrapper icon-caret mega-menu-icon">
                        {{- 'icon-caret.svg' | inline_asset_content -}}
                      </span>
                      <span>{{ link.title }}</span>
                    </button>
                  </div>

                  <div class="mega-menu-mobile__submenu-content">
                    {% if link.links.size > 0 %}
                      <ul class="mega-menu-mobile__submenu-list">
                        <li class="mega-menu-mobile__submenu-item">
                          <a href="{{ link.url }}">Shop All</a>
                        </li>
                        {% for childlink in link.links %}
                          <li class="mega-menu-mobile__submenu-item">
                            {% if childlink.links.size > 0 %}
                              <details>
                                <summary>
                                  <span>{{ childlink.title }}</span>
                                  <span class="svg-wrapper icon-caret mega-menu-icon">
                                    {{- 'icon-caret.svg' | inline_asset_content -}}
                                  </span>
                                </summary>
                                <div class="mega-menu-mobile__submenu">
                                  <div class="mega-menu-mobile__submenu-header">
                                    <button
                                      class="mega-menu-mobile__back-button"
                                    >
                                      <span class="svg-wrapper icon-caret mega-menu-icon">
                                        {{- 'icon-caret.svg' | inline_asset_content -}}
                                      </span>
                                      <span>{{ childlink.title }}</span>
                                    </button>
                                  </div>
                                  <ul class="mega-menu-mobile__submenu-list">
                                    {% for grandchildlink in childlink.links %}
                                      <li class="mega-menu-mobile__submenu-item">
                                        <a href="{{ grandchildlink.url }}">{{ grandchildlink.title }}</a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                                </div>
                              </details>
                            {% else %}
                              <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                    {% if has_banners %}
                      <div class="mega-menu-mobile__banner-wrapper">
                        {% for block in section.blocks %}
                          {% assign block_menu_item_handle = block.settings.menu_item | handleize %}
                          {% if block.type == 'banner'
                            and block_menu_item_handle == link_handle
                            and block.settings.banner_image
                          %}
                            <div class="mega-menu-mobile__banner">
                              <a href="{{ block.settings.banner_url | default: '#' }}">
                                <img
                                  src="{{ block.settings.banner_image | image_url: width: 600 }}"
                                  alt="{{ block.settings.banner_title | default: link.title }}"
                                  loading="lazy"
                                  width="600"
                                  height="auto"
                                >
                                {% if block.settings.banner_title %}
                                  <p class="mega-menu_banner-title">{{ block.settings.banner_title }}</p>
                                {% endif %}
                              </a>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </details>
            {% else %}
              <a href="{{ link.url }}">{{ link.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="menu-drawer__utility-links">
      <ul class="menu-drawer__menu has-submenu list-menu" role="list">
        {%- if section.settings.gift_card_url != blank -%}
          <li><a href="{{ section.settings.gift_card_url }}">Gift Cards</a></li>
        {%- endif -%}
        {%- if section.settings.store_locations_url != blank -%}
          <li><a href="{{ section.settings.store_locations_url }}">Store Locations</a></li>
        {%- endif -%}
        {%- if section.settings.phone_number != blank -%}
        <li class="menu-drawer__utility-item--phone">
          {%- assign tel_number = section.settings.phone_number | replace: ' ', '' | replace: '.', '' | replace: '(', '' | replace: ')', '' | replace: '-', '' -%}
          <a href="tel:{{ tel_number }}">
            <svg
              class="icon icon-phone"
              style="margin-right: 10px;"
              aria-hidden="true"
              focusable="false"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              width="18"
            >
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.75" d="M14.5 6.5c.74.14 1.47.47 2 1s.86 1.26 1 2M15 3c1.53.17 2.91.91 4 2a6.73 6.73 0 0 1 2 4m0 7.48v2.7c0 1.04-.93 1.9-1.97 1.81A15.83 15.83 0 0 1 3 4.97 1.83 1.83 0 0 1 4.8 3h2.71c.44 0 .87.15 1.2.44.95.8 1.56 3.57 1.32 4.66-.18.86-1.04 1.46-1.63 2.04a14.47 14.47 0 0 0 5.43 5.42c.59-.58 1.19-1.44 2.05-1.63 1.1-.23 3.87.38 4.68 1.33.29.34.44.77.43 1.22Z"></path>
            </svg>
            {{ section.settings.phone_number }}
          </a>
        </li>
        {%- endif -%}
      </ul>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Header & Mega Menu",
  "class": "mega-menu-section",
  "tag": "header",
  "settings": [
    {
      "type": "header",
      "content": "Logo Settings"
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "Logo position",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "logo_height_desktop",
      "min": 10,
      "max": 150,
      "step": 5,
      "unit": "px",
      "label": "Logo height (Desktop)",
      "default": 40
    },
    {
      "type": "range",
      "id": "logo_height_mobile",
      "min": 10,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Logo height (Mobile)",
      "default": 30
    },
    {
      "type": "range",
      "id": "logo_padding_top",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Logo padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "logo_padding_bottom",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Logo padding bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "logo_padding_left",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Logo padding left",
      "default": 0
    },
    {
      "type": "range",
      "id": "logo_padding_right",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Logo padding right",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "hide_logo_on_home_page",
      "label": "Hide logo on home page",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header",
      "label": "Enable transparent header on home page",
      "default": false
    },
    {
      "type": "header",
      "content": "Mega Menu Settings"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "banner_position",
      "label": "Banner position in dropdown",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "right", "label": "Right" }
      ],
      "default": "right"
    },
    {
      "type": "header",
      "content": "Mobile Menu Utility Links"
    },
    {
      "type": "url",
      "id": "gift_card_url",
      "label": "Gift card link"
    },
    {
      "type": "url",
      "id": "store_locations_url",
      "label": "Store locations link"
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone number",
      "info": "Used for display and the 'tel:' link."
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "Menu Dropdown Banner",
      "settings": [
        {
          "type": "text",
          "id": "menu_item",
          "label": "Enter the title of the menu item to show this banner."
        },
        {
          "type": "image_picker",
          "id": "banner_image",
          "label": "Banner image"
        },
        {
          "type": "url",
          "id": "banner_url",
          "label": "Banner URL"
        },
        {
          "type": "text",
          "id": "banner_title",
          "label": "Banner Title"
        }
      ]
    },
    {
      "type": "brands",
      "name": "Brands",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "menu_title",
          "label": "Menu title",
          "info": "This must exactly match the menu link title in Navigation (e.g., 'Brands')."
        },
        {
          "type": "link_list",
          "id": "brands_menu",
          "label": "Brands menu",
          "info": "Select the menu that contains the lists of brands."
        },
        {
          "type": "url",
          "id": "brands_page_url",
          "label": "Brands page URL",
          "info": "Link to the main 'Our Brands' page."
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "range",
          "id": "columns",
          "label": "Grid columns",
          "min": 4,
          "max": 8,
          "step": 1,
          "default": 5
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Header & Mega Menu"
    }
  ]
}
{% endschema %}

{% stylesheet %}
  /* ----- HEADER STYLES ----- */
  .header {
    background-color: #fff;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 5px 25px 0px 25px;
  }
  .header__column {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
  }
  .header__column--center {
    justify-content: center;
  }
  .header__column--right {
    justify-content: flex-end;
  }
  .header__logo img {
    display: block;
  }
  .header-utility-icons,
  .header-actions {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .header-utility__icon-phone {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .header--mobile {
    display: none;
  }
  @media (max-width: 990px) {
    .header--desktop {
      display: none;
    }
    .header--mobile {
      display: block;
      border-bottom: 0.1rem solid #12121214;
    }
  }

  /* ----- MEGA MENU STYLES ----- */
  .mega-menu-section {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
  }
  .mega-menu {
    position: relative;
    width: 100%;
    padding: 0px 16px 8px 16px;
    background-color: #fff;
    display: none;
    box-sizing: border-box;
  }

  @media screen and (min-width: 991px) {
    .mega-menu {
      display: block;
    }
  }

  .mega-menu::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    z-index: 1;
  }
  .mega-menu__list {
    width: 80%;
    max-width: 700px;
    margin: auto;
    display: flex !important;
    justify-content: center;
    list-style-type: none;
    padding: 0;
  }
  .mega-menu__item {
    position: static;
    line-height: 25px;
    z-index: 100;
    padding: 0 20px;
  }

  .mega-menu__dropdown {
    position: absolute;
    padding: 24px;
    width: 100%;
    top: 100%;
    background: #fff;
    z-index: 50;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    display: flex;
    justify-content: center;
    left: -9999px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);

    transition: opacity 0.08s ease, transform 0.08s ease, visibility 0.08s ease;
  }

  .mega-menu__item:hover .mega-menu__dropdown {
    left: 0;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .mega-menu__dropdown-content {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: flex-start;
    gap: 30px;
  }

  .mega-menu__links {
    display: flex;
    flex-wrap: nowrap;
    gap: 36px;
  }

  .mega-menu__links:not(.mega-menu__links--with-submenus) {
    gap: 100px;
  }

  .mega-menu__banner-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  .mega-menu__links .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0;
    transform: translateX(-15px);

    transition: all 0.08s ease-in-out;
  }

  .mega-menu__banner {
    flex: 1 1 150px;
    max-width: 250px;
  }

  .mega-menu__item:hover .mega-menu__links .column {
    opacity: 1;
    transform: translateX(0);
  }
  .mega-menu__item-title {
    position: relative;
    padding-bottom: 13px;
  }
  .mega-menu__item-title::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.08s ease;
    z-index: 101;
  }
  .mega-menu__item:hover .mega-menu__item-title::after {
    transform: scaleX(1);
  }
  .mega-menu__item-title,
  .sub-menu-title {
    text-transform: uppercase;
  }
  .sub-menu-title:hover,
  .sub-sub-menu-title:hover {
    text-decoration: underline;
  }
  .mega-menu__links .sub-menu-title {
    font-weight: 500;
  }
  .mega-menu__links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }
  .mega-menu__banner img {
    width: 100%;
    height: auto;
    display: block;
  }
  .mega-menu_banner-title {
    margin-top: 8px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   /* Brands */
  .mega-menu__brands-heading {
  text-transform: uppercase;
  }

  .mega-menu__brands-grid {
    display: grid;
    grid-template-columns: repeat(var(--brands-grid-columns, 5), 1fr);
    margin-block: 0.4rem;
  }

  .mega-menu__brands-grid > a {
    display: flex;
    aspect-ratio: 1 / 1;
    min-width: 4.2rem;
    color: inherit;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    text-underline-offset: 0.3rem;
  }
    .mega-menu__brands-menu ul {
    list-style: none;
    padding: 0;
  }
  .mega-menu__brands-grid > a:hover {
    text-decoration: underline;
  }

  /* ----- MOBILE STYLES ----- */
  .mobile-menu-toggle {
    display: none;
  }
  @media (max-width: 990px) {
    .mobile-menu-toggle {
      display: block;
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
      z-index: 1001;
      width: 24px;
      height: 24px;
    }
  }
  .mobile-drawer {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    max-width: 85%;
    height: 100%;
    background-color: #fff;
    z-index: 1002;
    transform: translateX(-100%);
    transition: transform 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .mobile-drawer.is-open {
    transform: translateX(0);
  }
  .mobile-drawer__content {
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    }
  .mobile-drawer__content.is-submenu-open {
      overflow-y: hidden;
  }
  .mobile-drawer-overlay {
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  .mobile-drawer-overlay.is-open {
    display: block;
  }
  body.drawer-open {
    overflow: hidden;
  }
  .mega-menu-mobile {
    display: block;
    background-color: #fff;
  }
  .mega-menu-mobile__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .mega-menu-mobile__item,
  .mega-menu-mobile__submenu-item {
    border-bottom: 1px solid #f2f2f2;
  }
  .mega-menu-mobile__item > a,
  .mega-menu-mobile__item details > summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 500;
  }

  .mega-menu-mobile__submenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 10;
    transform: translateX(100%);
    transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .mega-menu-mobile__item details[open] > .mega-menu-mobile__submenu {
    transform: translateX(0);
    visibility: visible;
  }

  .mega-menu-mobile__item details.closing > .mega-menu-mobile__submenu {
    transform: translateX(100%);
    visibility: hidden;
  }

  .mega-menu-mobile__submenu-header {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .mega-menu-mobile__back-button {
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0;
  }
  .mega-menu-mobile__back-button .icon-caret {
    margin-right: 10px;
  }
  .mega-menu-mobile__submenu-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .mega-menu-mobile__submenu-item > a,
  .mega-menu-mobile__submenu-item details > summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: inherit;
  }
  .mega-menu-mobile summary {
    list-style: none;
  }
  .mega-menu-mobile summary::-webkit-details-marker {
    display: none;
  }
  .mega-menu-mobile__submenu-content {
    overflow-y: auto;
    flex-grow: 1;
  }
  .mega-menu-mobile__banner-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-top: 1px solid #f2f2f2;
  }
  .mega-menu-mobile__banner img {
    width: 100%;
    height: auto;
    display: block;
  }
  .mega-menu-mobile__banner .mega-menu_banner-title {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0.8rem;
  }
  .mobile-menu-toggle .icon-close {
    display: none;
  }
  .mobile-menu-toggle.is-open .icon-hamburger {
    display: none;
  }
  .mobile-menu-toggle.is-open .icon-close {
    display: block;
  }
  summary .mega-menu-icon {
    transform: rotate(-90deg);
  }
  .mega-menu-mobile__back-button .mega-menu-icon {
    transform: rotate(90deg);
  }
  .mega-menu__brands-heading {
  text-transform: uppercase;
  }
{% endstylesheet %}

{% javascript %}
  document.addEventListener('DOMContentLoaded', () => {
    const mobileMenuToggle = document.querySelector('.mobile-menu-toggle');
    const mobileDrawer = document.querySelector('.mobile-drawer');
    const overlay = document.querySelector('.mobile-drawer-overlay');
    const mobileDrawerContent = document.querySelector('.mobile-drawer__content');
    const allDetails = document.querySelectorAll('.mega-menu-mobile__item details');

    const handleSubmenuToggle = () => {
        const anySubmenuOpen = Array.from(allDetails).some(detail => detail.hasAttribute('open'));

        if (anySubmenuOpen) {
            mobileDrawerContent.classList.add('is-submenu-open');
        } else {
            mobileDrawerContent.classList.remove('is-submenu-open');
        }
    };

    document.querySelectorAll('.mega-menu-mobile__back-button').forEach((btn) => {
      btn.addEventListener('click', function (e) {
        e.preventDefault();
        const details = this.closest('details');
        if (details) {
          details.classList.add('closing');
          setTimeout(() => {
            details.removeAttribute('open');
            details.classList.remove('closing');
          }, 200);
        }
        setTimeout(handleSubmenuToggle, 250);
      });
    });

    if (mobileMenuToggle && mobileDrawer && overlay) {
      const openDrawer = () => {
        const header = document.querySelector('.header--mobile');
        if (!header) return;
        const headerRect = header.getBoundingClientRect();
        const headerBottom = headerRect.bottom;
        mobileDrawer.style.top = `${headerBottom}px`;
        mobileDrawer.style.height = `calc(100vh - ${headerBottom}px)`;
        overlay.style.top = `${headerBottom}px`;
        overlay.style.height = `calc(100vh - ${headerBottom}px)`;

        mobileDrawer.classList.add('is-open');
        overlay.classList.add('is-open');
        document.body.classList.add('drawer-open');
        mobileMenuToggle.classList.add('is-open');
        mobileMenuToggle.setAttribute('aria-expanded', 'true');
      };

      const closeDrawer = () => {
        mobileDrawer.classList.remove('is-open');
        overlay.classList.remove('is-open');
        document.body.classList.remove('drawer-open');
        mobileMenuToggle.classList.remove('is-open');
        mobileMenuToggle.setAttribute('aria-expanded', 'false');
      };

      mobileMenuToggle.addEventListener('click', () => {
        mobileDrawer.classList.contains('is-open') ? closeDrawer() : openDrawer();
      });

      overlay.addEventListener('click', closeDrawer);
    }
    // safari submenu position bug fix
    allDetails.forEach(detail => {
        detail.addEventListener('toggle', handleSubmenuToggle);
    });
  });
{% endjavascript %}