{%- liquid
  assign columns_mobile_int = section.settings.columns_mobile | times: 1
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign single_column_class = ''
  if section.settings.number_of_columns_on_desktop == 1
    assign single_column_class = ' multicolumn-list--single-col-desktop'
  endif

  assign desktop_columns = section.settings.number_of_columns_on_desktop
  assign image_sizes = '(min-width: 1560px) calc((1560px - 132px) * 1 / ' | append: desktop_columns | append: '), '
  assign image_sizes = image_sizes | append: '(min-width: 990px) calc((100vw - 132px) * 1 / ' | append: desktop_columns | append: '), '
  assign image_sizes = image_sizes | append: '(min-width: 750px) calc((100vw - 100px) * 1 / 1), '
  assign image_sizes = image_sizes | append: 'calc((100vw - 30px) * 1 / 1)'
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  @media screen and (max-width: 749px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.mobile_padding_top }}px;
      padding-bottom: {{ section.settings.mobile_padding_bottom }}px;
    }
  }

  .section-{{ section.id }} .title-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: {{ section.settings.header_margin_bottom }}px;
  }
  .section-{{ section.id }} .title-wrapper.align-center { align-items: center; text-align: center; }
  .section-{{ section.id }} .title-wrapper.align-left { align-items: flex-start; text-align: left; }
  .section-{{ section.id }} .title-wrapper.align-right { align-items: flex-end; text-align: right; }

  .section-{{ section.id }} .multicolumn-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: {{ section.settings.grid_gap_size }}px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .multicolumn-card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .multicolumn-card__content { flex-grow: 1; }
  .multicolumn-card.align-left { text-align: left; }
  .multicolumn-card.align-center { text-align: center; }
  .multicolumn-card.align-right { text-align: right; }
  .multicolumn-card.align-center .multicolumn-card__image-wrapper,
  .multicolumn-card.align-center .multicolumn-card__image-wrapper--icon-width { margin-left: auto; margin-right: auto; }
  .multicolumn-card.align-right .multicolumn-card__image-wrapper { margin-left: auto; margin-right: 0; }
  .multicolumn-card.align-left .multicolumn-card__image-wrapper { margin-left: 0; margin-right: auto; }
  .multicolumn-card.align-left > * { text-align: left; }
  .multicolumn-card.align-center > * { text-align: center; }
  .multicolumn-card.align-right > * { text-align: right; }

  .section-{{ section.id }} .multicolumn-card--background-1 { background-color: #F6F6F6; padding: {{ section.settings.column_padding_size }}px; }
  .section-{{ section.id }} .multicolumn-card--bordered { border: 1px solid #E5E5E5; padding: {{ section.settings.column_padding_size }}px;}
  .multicolumn-card__image-wrapper { margin-bottom: 1.5rem; max-width: 100%; }
  .multicolumn-card__image--icon { width: 50%; }
  .multicolumn-card__image--full { width: 100%; }
  .multicolumn-card__image { height: 100%; object-fit: cover; margin-left: auto; margin-right: auto; }
  .multicolumn-card__content > *:first-child { margin-top: 0; }
  .multicolumn-card__content > *:last-child { margin-bottom: 0; }
  .multicolumn-card__links { margin-top: 1.5rem; }
  .multicolumn-card__links .link { display: block; margin-top: 0.5rem; }

  .media {
    display: block;
    position: relative;
    overflow: hidden;
  }
  .media--square {
    padding-bottom: 100%;
  }
  .media--square > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
  }
  .media--hover-effect:hover .multicolumn-card__image {
    transform: scale(1.03);
    transition: transform 0.3s ease;
  }
  .multicolumn-card__image-wrapper--icon-width {
    max-width: 10rem;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }} .multicolumn-list {
      grid-template-columns: repeat({{ section.settings.number_of_columns_on_desktop }}, 1fr);
    }

    .section-{{ section.id }} .multicolumn-list.multicolumn-list--single-col-desktop {
      display: flex;
      justify-content: {{ section.settings.single_column_alignment }};
    }

    .section-{{ section.id }} .multicolumn-list.multicolumn-list--single-col-desktop > .multicolumn-list__item {
      width: 100%;
      max-width: {{ section.settings.single_column_max_width }}px;
    }
  }

  @media screen and (max-width: 749px) {
    {%- if show_mobile_slider -%}
      .section-{{ section.id }} .multicolumn-list {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
      }
      .section-{{ section.id }} .multicolumn-list > li {
        flex-shrink: 0;
        width: calc((100% / {{ section.settings.columns_mobile }}) - {{ section.settings.grid_gap_size | divided_by: 2.0 }}px);
        scroll-snap-align: start;
      }
    {%- else -%}
      .section-{{ section.id }} .multicolumn-list--1-col {
        grid-template-columns: 1fr;
      }
      .section-{{ section.id }} .multicolumn-list--2-col {
        grid-template-columns: 1fr 1fr;
      }
    {%- endif -%}
  }
  .section-{{ section.id }} .multicolumn__button { margin-top: 3rem; }
{%- endstyle -%}

<div class="multicolumn section-{{ section.id }} isolate color-{{ section.settings.color_scheme }}">
  <div class="page-width section-{{ section.id }}-padding">
    <div class="title-wrapper align-{{ section.settings.content_alignment }}">
      {%- if section.settings.heading != blank -%}
        <h2 class="title" style="font-size: {{ section.settings.heading_size }}px;">
          {{ section.settings.heading }}
        </h2>
      {%- endif -%}
      {%- if section.settings.description != blank -%}
        <div class="description rte">{{ section.settings.description }}</div>
      {%- endif -%}
    </div>

    <ul
      class="multicolumn-list multicolumn-list--{{ section.settings.columns_mobile }}-col{{ single_column_class }}"
      role="list"
    >
      {%- for block in section.blocks -%}
        <li class="multicolumn-list__item" {{ block.shopify_attributes }}>
          <div
            class="
              multicolumn-card
              align-{{ section.settings.column_alignment }}
              {% if section.settings.secondary_background != 'none' %}multicolumn-card--background-{{ section.settings.secondary_background }}{% endif %}
              {% if section.settings.column_border %}multicolumn-card--bordered{% endif %}
            "
          >
            {%- if block.settings.image != blank -%}
              <div class="multicolumn-card__image-wrapper{% if block.settings.image_display_mode == 'icon' %} multicolumn-card__image-wrapper--icon-width{% endif %}">
                <div class="media media--transparent{% if block.settings.force_square_images %} media--square{% endif %}{% if block.settings.enable_hover_effect %} media--hover-effect{% endif %}">
                  {%- assign image_class = 'multicolumn-card__image motion-reduce' -%}
                  {%- if block.settings.image_display_mode == 'icon' -%}
                    {%- assign image_class = image_class | append: ' multicolumn-card__image--icon' -%}
                  {%- else -%}
                    {%- assign image_class = image_class | append: ' multicolumn-card__image--full' -%}
                  {%- endif -%}
                  {{-
                    block.settings.image
                    | image_url: width: 3200
                    | image_tag:
                      class: image_class,
                      widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1500, 2000, 2500, 3000, 3200',
                      sizes: image_sizes
                  -}}
                </div>
              </div>
            {%- endif -%}

            <div class="multicolumn-card__content">
              {%- if block.settings.heading != blank -%}
                <h3>{{ block.settings.heading }}</h3>
              {%- endif -%}
              {%- if block.settings.text != blank -%}
                <div class="rte">{{ block.settings.text }}</div>
              {%- endif -%}
              {%- if block.settings.html_description != blank -%}
                <div class="rte">{{ block.settings.html_description }}</div>
              {%- endif -%}
            </div>

            <div class="multicolumn-card__links">
              {%- if block.settings.link_label != blank and block.settings.link != blank -%}
                <a href="{{ block.settings.link }}" class="link">{{ block.settings.link_label }}</a>
              {%- endif -%}
              {%- if block.settings.second_link_label != blank and block.settings.second_link != blank -%}
                <a href="{{ block.settings.second_link }}" class="link">{{ block.settings.second_link_label }}</a>
              {%- endif -%}
            </div>
          </div>
        </li>
      {%- endfor -%}
    </ul>

    {%- if section.settings.button_label != blank -%}
      <div class="multicolumn__button center">
        <a href="{{ section.settings.button_link }}" class="button button--primary">
          {{ section.settings.button_label | escape }}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{% if section.settings.show_section_divider %}
  <div class="page-width"><hr></div>
{% endif %}

{% schema %}
{
  "name": "Multicolumn",
  "tag": "section",
  "class": "section",
  "settings": [
    { "type": "inline_richtext", "id": "heading", "default": "Multicolumn", "label": "Heading" },
    {
      "type": "range",
      "id": "heading_size",
      "min": 20,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Heading size",
      "default": 32
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center",
      "label": "Heading & Description Alignment"
    },
    { "type": "richtext", "id": "description", "label": "Description" },
    {
      "type": "range",
      "id": "header_margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Heading Margin Bottom",
      "default": 32
    },
    { "type": "header", "content": "Column Settings" },
    {
      "type": "range",
      "id": "number_of_columns_on_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "Number of columns on desktop"
    },
    {
      "type": "select",
      "id": "single_column_alignment",
      "options": [
        { "value": "flex-start", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "flex-end", "label": "Right" }
      ],
      "default": "center",
      "label": "Single Column Position",
      "info": "Applies only when 'Number of columns' is 1."
    },
    {
      "type": "range",
      "id": "single_column_max_width",
      "min": 400,
      "max": 1000,
      "step": 20,
      "unit": "px",
      "label": "Single Column Maximum Width",
      "default": 720,
      "info": "Applies only when 'Number of columns' is 1."
    },
    {
      "type": "range",
      "id": "column_padding_size",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Column Padding size",
      "default": 40
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center",
      "label": "Column Content Alignment",
      "info": "Aligns the text and images inside each column."
    },
    {
      "type": "select",
      "id": "secondary_background",
      "options": [
        { "value": "none", "label": "None" },
        { "value": "1", "label": "Style 1" }
      ],
      "default": "none",
      "label": "Secondary background"
    },
    { "type": "checkbox", "id": "column_border", "default": false, "label": "Column border?" },
    { "type": "header", "content": "Button" },
    { "type": "text", "id": "button_label", "label": "Button label", "info": "Leave blank to hide the button." },
    { "type": "url", "id": "button_link", "label": "Button link" },
    { "type": "color_scheme", "id": "color_scheme", "label": "Color scheme", "default": "scheme-1" },
    { "type": "header", "content": "Mobile Layout" },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        { "value": "1", "label": "1 column" },
        { "value": "2", "label": "2 columns" }
      ],
      "default": "1",
      "label": "Number of columns on mobile"
    },
    { "type": "checkbox", "id": "swipe_on_mobile", "default": false, "label": "Enable swipe on mobile" },
    { "type": "header", "content": "Section Padding & Spacing" },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding - desktop",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding - desktop",
      "default": 32
    },
    {
      "type": "range",
      "id": "mobile_padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Mobile top padding",
      "default": 48
    },
    {
      "type": "range",
      "id": "mobile_padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Mobile bottom padding",
      "default": 24
    },
    {
      "type": "range",
      "id": "grid_gap_size",
      "min": 0,
      "max": 60,
      "step": 2,
      "unit": "px",
      "label": "Grid gap size",
      "default": 30
    },
    { "type": "checkbox", "id": "show_section_divider", "default": false, "label": "Show section divider at the end" }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "limit": 6,
      "settings": [
        { "type": "header", "content": "Image Settings" },
        { "type": "image_picker", "id": "image", "label": "Image" },
        {
          "type": "select",
          "id": "image_display_mode",
          "label": "Image display mode",
          "options": [
            { "value": "full", "label": "Full Width" },
            { "value": "icon", "label": "Icon (Small)" }
          ],
          "default": "full"
        },
        {
          "type": "checkbox",
          "id": "force_square_images",
          "label": "Force square images",
          "default": false,
          "info": "Crops images to a 1:1 aspect ratio."
        },
        { "type": "checkbox", "id": "enable_hover_effect", "label": "Enable hover zoom effect", "default": true },
        { "type": "header", "content": "Text & Links" },
        { "type": "inline_richtext", "id": "heading", "label": "Heading", "default": "Column" },
        {
          "type": "richtext",
          "id": "text",
          "label": "Description",
          "default": "<p>Use this area for a simple description.</p>"
        },
        {
          "type": "liquid",
          "id": "html_description",
          "label": "Description in HTML",
          "info": "Use this for custom layouts, like price and details."
        },
        { "type": "text", "id": "link_label", "label": "Link label" },
        { "type": "url", "id": "link", "label": "Link" },
        { "type": "text", "id": "second_link_label", "label": "Second link label" },
        { "type": "url", "id": "second_link", "label": "Second link" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multicolumn",
      "blocks": [{ "type": "column" }, { "type": "column" }, { "type": "column" }]
    }
  ]
}
{% endschema %}