{%- liquid
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.enable_swipe and section.blocks.size > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  
  .store-multicolumn-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .store-multicolumn-card__image-wrapper {
    margin-bottom: 1.5rem;
  }
  .store-media { position: relative; display: block; }
  .store-media--adapt, .store-media--portrait { padding-bottom: 125%; }
  .store-media--square { padding-bottom: 100%; }
  .store-media img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; }

  .store-location__item {
    display: flex;
    align-items: flex-start;
    gap: 0;
    margin-bottom: 0.1rem;
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .store-location__item:last-child {
    margin-bottom: 0;
  }
  .store-location__name {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }
  .store-location__city {
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0;
  }
  .store_locations__title p {
    max-width: 30rem;
  }

  .store_locations__title.text-center p {
    margin-left: auto;
    margin-right: auto;
  }
  .store_locations__title.text-right p {
    margin-left: auto;
    margin-right: 0;
  }
  .store_locations__title.text-left p {
    margin-left: 0;
    margin-right: auto;
  }

  .store-location__icon-wrapper {
    width: 1.7rem;
    flex-shrink: 0;
    margin-top: 0.2rem;
  }
  .store-location__links {
    margin-top: 1.5rem;
  }
  .store-location__links a {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    font-size: 0.9rem;
  }

  /* Grid & Slider Styles */
  .store-locations__grid {
    --grid-desktop-columns: {{ section.settings.columns_desktop }};
    --grid-mobile-columns: {{ section.settings.columns_mobile }};
    display: grid;
    grid-template-columns: repeat(var(--grid-mobile-columns), 1fr);
    gap: 1rem;
  }
  @media screen and (min-width: 750px) {
    .store-locations__grid {
      grid-template-columns: repeat(var(--grid-desktop-columns), 1fr);
      gap: 0.9rem;
    }
  }
  .slider { position: relative; }
  .slider--mobile { overflow-x: auto; scroll-snap-type: x mandatory; scrollbar-width: none; }
  .slider--mobile::-webkit-scrollbar { display: none; }
  .slider--mobile .slider__slide { scroll-snap-align: start; flex-shrink: 0; width: 100%; }
  @media screen and (min-width: 750px) { .slider.slider--mobile { overflow-x: hidden; } }
  .slider-buttons { display: flex; justify-content: center; margin-top: 2rem; }
  .slideshow__dots { display: flex; gap: 1rem; }
  .slideshow__dots .dot { width: 1rem; height: 1rem; border-radius: 50%; border: 1px solid currentColor; background-color: transparent; cursor: pointer; }
  .slideshow__dots .dot[aria-current="true"] { background-color: currentColor; }

{%- endstyle -%}

<div class="store-locations color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding">
  <div class="page-width">
    {%- if section.settings.heading != blank -%}
        <h2 style="font-size: {{ section.settings.heading_size }}px;" class="title store_locations__title {{ section.settings.heading_alignment }}">
          <p>{{ section.settings.heading }}</p>
        </h2>
    {%- endif -%}

    <div
      class="store-locations__grid {% if show_mobile_slider %} slider slider--mobile {% endif %}"
      {% if show_mobile_slider %}
        id="Slider-{{ section.id }}"
        role="list"
      {% endif %}
    >
      {%- for block in section.blocks -%}
        <div class="store-locations__grid-item {% if show_mobile_slider %} slider__slide {% endif %}" {{ block.shopify_attributes }}>
          <div class="store-multicolumn-card">
            {%- if block.settings.image != blank -%}
              <div class="store-multicolumn-card__image-wrapper">
                <div
                  class="store-media store-media--{{ section.settings.image_ratio }}"
                  {% if section.settings.image_ratio == 'adapt' and block.settings.image.aspect_ratio != blank %}
                    style="padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;"
                  {% endif %}
                >
                  <img
                    src="{{ block.settings.image | image_url: width: 800 }}"
                    alt="{{ block.settings.image.alt | escape }}"
                    loading="lazy"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.height }}"
                  >
                </div>
              </div>
            {%- endif -%}

            <div class="store-multicolumn-card__info">
              {%- if block.settings.name != blank -%}
                <p class="store-location__item store-location__name">{{ block.settings.name }}</p>
              {%- endif -%}
              {%- if block.settings.city != blank or block.settings.state != blank -%}
                <p class="store-location__item store-location__city font-body-bold">
                  {{ block.settings.city }}{% if block.settings.city != blank and block.settings.state != blank %}, {% endif %}{{ block.settings.state }}
                </p>
              {%- endif -%}

              <div class="store-location__item store-location__address">
                <span class="store-location__icon-wrapper">{% render 'icon-map-pin' %}</span>
                <span>{{ block.settings.address }}</span>
              </div>

              <div class="store-location__item store-location__phone">
                <span class="store-location__icon-wrapper">{% render 'icon-phone' %}</span>
                <span>{{ block.settings.phone }}</span>
              </div>

              <div class="store-location__item store-location__opening-hours">
                <span class="store-location__icon-wrapper">{% render 'icon-clock' %}</span>
                <div>{{ block.settings.opening_hours }}</div>
              </div>

              <div class="store-location__links">
                {%- if block.settings.directions != blank -%}
                  <a href="{{ block.settings.directions }}">Directions</a>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>

    {%- if show_mobile_slider and section.settings.pagination_style != 'none' -%}
      <div class="slider-buttons no-js-hidden">
        <div class="slider-counter caption">
          {%- if section.settings.pagination_style == 'counter' -%}
            <span class="slider-counter--current" id="SliderCurrent-{{ section.id }}">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">of</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          {%- else -%}
            <div class="slideshow__dots">
              {%- for block in section.blocks -%}
                <button
                  type="button"
                  class="dot"
                  aria-current="{% if forloop.first %}true{% else %}false{% endif %}"
                  data-index="{{ forloop.index0 }}"
                  aria-label="Slide {{ forloop.index }} of {{ forloop.length }}"
                ></button>
              {%- endfor -%}
            </div>
          {%- endif -%}
        </div>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Store locations",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "range",
      "id": "heading_size",
      "min": 20,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Heading size",
      "default": 32
    },
    {
      "type": "radio",
      "id": "heading_alignment",
      "options": [
        { "value": "text-left", "label": "Left" },
        { "value": "text-center", "label": "Center" },
        { "value": "text-right", "label": "Right" }
      ],
      "default": "text-center",
      "label": "Heading alignment"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        { "value": "adapt", "label": "Adapt to image" },
        { "value": "portrait", "label": "Portrait" },
        { "value": "square", "label": "Square" }
      ],
      "default": "adapt",
      "label": "Image ratio"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "Number of columns on desktop"
    },
    {
      "type": "header",
      "content": "Mobile Layout"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        { "value": "1", "label": "1 column" },
        { "value": "2", "label": "2 columns" }
      ],
      "default": "1",
      "label": "Number of columns on mobile"
    },
    {
      "type": "checkbox",
      "id": "enable_swipe",
      "default": true,
      "label": "Enable swipe on mobile"
    },
    {
      "type": "radio",
      "id": "pagination_style",
      "options": [
        { "value": "dots", "label": "Dots" },
        { "value": "counter", "label": "Counter" },
        { "value": "none", "label": "None" }
      ],
      "default": "dots",
      "label": "Pagination style"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "location",
      "name": "Location",
      "settings": [
        { "type": "image_picker", "id": "image", "label": "Image" },
        { "type": "text", "id": "name", "label": "Name", "default": "Inwood Village" },
        { "type": "text", "id": "city", "label": "City", "default": "Dallas" },
        { "type": "text", "id": "state", "label": "State", "default": "Texas" },
        { "type": "text", "id": "address", "label": "Address", "default": "5570 W. Lovers Ln #388, Dallas, TX - 75209" },
        { "type": "text", "id": "phone", "label": "Phone", "default": "214.357.9700" },
        { "type": "richtext", "id": "opening_hours", "label": "Opening hours", "default": "<p>Mon - Sat: 10am - 8pm<br>& Sun: 12pm - 6pm</p>" },
        { "type": "url", "id": "directions", "label": "Directions link" }
      ]
    }
  ],
  "presets": [
    {
      "name": "Store locations",
      "blocks": [
        { "type": "location" },
        { "type": "location" },
        { "type": "location" }
      ]
    }
  ]
}
{% endschema %}